[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
datasets = "*"
tiktoken = "*"
pinecone-client = "*"
openai = "*"
pypdf = "*"
langchain = "*"
python-dotenv = "*"
mlflow = "*"
transformers = "*"
faiss-cpu = "*"
apache-airflow = "==2.10.4"
pytest = "*"
google-generativeai = "*"
sentence-transformers = "==2.7.0"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
